.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Titillium Web", sans-serif;
    height: 100vh;
    background-color: white;
    .box-text {
        font-size: 2em;
        font-weight: 600;
        color: rgba(240, 144, 0, 0.8);
    }
    .box-progress {
        color:rgba(240, 144, 0 ,0.3);
        font-size: 5em;
        font-weight: 600;

    }
    .box-progress::before {
        content: attr(data-text);
        position: absolute;
        overflow: hidden;
        max-width: 6.5em;
        white-space: nowrap;
        color: #6b3503;
        animation: loading 1.5s linear;
    }

    @keyframes loading {
        0% {
            max-width: 0;
        }
    }
}