.collectionRadiance {
    .sections-1 {
        .banner {
            position: relative;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(/src/images-CollectRadiance/radianBanner.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .titleBanner {
                text-align: center;
                position: absolute;
                max-width: 1090px;
                margin: 0 auto;
                h1 {
                    font-size: 22px;
                    font-family: "Lato", sans-serif;
                    font-weight: 600;
                    color: white;
                    margin-top: 82px;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 22px;
                    font-family: "Lato", sans-serif;
                    font-weight: 300;
                    color: white;
                }
            }
        }
    }
    .sections-2 {
        max-width: 1440px;
        margin: 4rem auto;
        display: flex;
        justify-content: center;
        gap: 125px;
        .images {
            width: 820px;
            height: 547px;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .imagesText {
                position: absolute;
                z-index: 1;
                h1 {
                    font-size: 50px;
                    font-family: "Arapey", serif;
                    font-weight: 400;
                    font-style: italic;
                    color: white;
                    letter-spacing: 3px;
                }
            }
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover; /* Ensures the image fits well */
                transition: opacity 0.5s ease; /* Smooth transition */
            }
        }
        .imaghover {
            transition: 0.5s ease-in-out;
        }
        .images img.imagdefaul {
            opacity: 1;
        }
        .images img.imaghover {
            opacity: 0;
        }
        .images:hover img.imagdefaul {
            opacity: 0;
        }
        .images:hover img.imaghover {
            opacity: 1;
            transform: scale(1.1);
            transition: all 0.5s;
        }

        .textsec2 {
            width: 259px;
            font-family: "Lato", sans-serif;
            h1 {
                font-size: 22px;
                font-family: "Lato", sans-serif;
                font-weight: 600;
            }
            h4 {
                font-size: 22px;
                font-weight: 300;
                margin-bottom: 24px;
            }
            p {
                font-size: 18px;
                font-weight: 300;
            }
        }

    }
    .sections-3 {
        max-width: 1440px;
        margin: 6rem auto;
        .gridSec3 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }
    .footerRadian {
        text-align: center;
        p {
            font-family: "Lato", sans-serif;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 6rem;
        }
    }
}